#resultDiv{
    width: 98%;
    text-align: left;
    margin:auto auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border:1px solid #000;
    padding-bottom: 2%;
}
#resultDiv h2{
    margin-left: 2%;
    
}

#resultItem{
    width: 90%;
    padding: 10px;
    margin: auto auto;
    margin-top: 2%;
    border:1px solid #000;
}